<div class="container">
    <div class="jumbotron jumbotron-fluid" style="background-color:rgba(0, 0, 0, 0.527);">
        <div class="card-columns" >
      <div class="col text-center">
      <div class="card" style="width: 18rem;" *ngFor="let item of items; let i = index">
        <a class="nav-link" (click)="verItem(i)">
        <img src="{{item.image_url}}" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
        </div>
        </a>
      </div>
    </div>
      </div>
    </div>

</div>
