<div class="container">

    <div class="jumbotron" style="background-color:rgba(0, 0, 0, 0.527);">

        <div class="row">
           <div class="col-md-8">


               <a title="atras" href="products"><img src="assets/images/iconos/flechaAtras.png" alt="atras" /></a>
               <br>
               <br>
               <br>
               <img src={{item.image_url}} alt="" width="200">


           </div>
        <div class="col-md-8">

            <h5>{{item.name}}</h5>
            <h5>granja: {{item.id_farm}}</h5>
            <h5>PRECIO: ${{item.price}}</h5>
            <hr>
            <p>
                {{item.description}}
            </p>
            <br>
            <a  class="btn btn-primary" (click)="agregarItem(item)">AÑADIR AL CARRITO</a>
        </div>

        </div>
      </div>


</div>
