<div class="card-columns ">

    <div class="card" *ngFor="let categorie of categories; let i = index">

      <a class="nav-link" (click)=verProductos(i); style="cursor: pointer">
        <img class="card-img-top" src="{{categorie.img}}" alt="Card image cap" height="300">


        <div class="card-body">
            <h5 class="card-title">{{categorie.name}}</h5>
            <!-- <a href="#" class="btn btn-outline-primary">Ver más</a> -->
                <!-- <a [routerLink]="['/framework',i]" class="btn btn-outline-primary btn-block">Ver más</a> -->
                <!-- <button type="button" class="btn btn-outline-primary btn-block" (click)=verFramework(i)>
                  Ver más V2
                </button> -->
        </div>
      </a>
    </div>

  </div>
